.vp-content__block {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 black;
    font-family: 'Roboto', sans-serif;
  }
  
  .video-container {
    flex-grow: 1;
  }
  
  .vp-buttons__block {
    background-color: #000000;
    flex-grow: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
  }
  
  .vp-buttons__block .vp-button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
  }
  
  .vp-buttons__block .vp-button:hover {
    opacity: 0.8;
  }
  
  .left-buttons {
    width: fit-content;
    display: flex;
    justify-content: start;
  }
  
  .vp-timer-block {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  
  .vp-time {
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  .progress-bar-block {
    flex-grow: 1;
  }
  
  .progress-bar-content {
    height: 100%;
    border-radius: 3px;
    background-color: red;
  }
  
  .progress-bar {
    margin: 10px;
    margin-left: 9px;
    height: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: grey;
  }
  
  .progress-bar-slider {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid white;
    background-color: red;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: translateX(-6px);
  }
  
  .progress-bar-block:hover .progress-bar-slider {
    opacity: 1;
  }
  
  .vp-button:focus {
    outline: 0;
  }
  
  .vp-button[hidden] {
    display: none !important;
  }
  